<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

   <body class="register f-display f-main-y minvh-100">
      <%- include('partials/mini-header') %>

         <div class="container f-main-center f-grow-1">
            <div class="mb-12 lp-6 f-main-y f-cross-center">
               <h3 class="f-self-start my-4">A침adir producto</h3>

               <form class="w-100 mbt-4" action="/store" method="POST" enctype="multipart/form-data">
                  
                  <!-- Nombre -->
                  <div class="reg__ctrl-input mbt-4">
                     <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                           <%= errors.name.msg %>
                        </div>
                     <% } %>
                        <input type="text" placeholder="*Nombre" name="name" class="reg__input" value="<%= locals.old ? old.name : null %>" />
                  </div>

                  <!-- Categoria -->
                  <div class="reg__ctrl-input my-4">
                        <% if (locals.errors && errors.category) { %>
                        <div class="text-danger">
                           <%= errors.category.msg %>
                        </div>
                        <% } %>
                        <select name="category" class="reg__input">
                           <option value="" selected hidden>*Categoria</option>
                           <% categories.forEach(category => { %>
                           <option value="<%= category.id %>" <%= locals.old && old.categoryId === category.id ? 'selected' : null%> ><%= category.name %></option>
                           <% }) %>
                        </select>
                  </div>

                  <!-- Descripcion producto -->
                  <div class="reg__ctrl-textarea my-4">
                     <% if (locals.errors && errors.description) { %>
                        <div class="text-danger">
                           <%= errors.description.msg %>
                        </div>
                        <% } %>
                        <textarea name="description" class="text__area" placeholder="*Descripci칩n del producto"><%= locals.old ? old.description : null %></textarea>
                  </div>

                  <!-- Tama침o -->
                  <div class="reg__ctrl-input mbt-4">
                     <% if (locals.errors && errors.size) { %>
                        <div class="text-danger">
                           <%= errors.size.msg %>
                        </div>
                     <% } %>
                        <input type="text" placeholder="*Tama침o o volumen del producto" size="size" class="reg__input" value="<%= locals.old ? old.size : null %>" />
                  </div>

                  <!-- precio -->
                  <div class="reg__ctrl-input my-4">
                     <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                           <%= errors.price.msg %>
                        </div>
                        <% } %>
                        <input type="number" placeholder="*Precio" class="reg__input" name="price"
                         value="<%= locals.old ? old.price : null %>" />
                  </div>

                  <!-- stock -->
                  <div class="reg__ctrl-input my-4">
                  <% if (locals.errors && errors.stock) { %>
                     <div class="text-danger">
                        <%= errors.stock.msg %>
                     </div>
                  <% } %>
                     <input name="stock" type="number" placeholder="*Ingresar stock" class="reg__input" name="stock" value="<%= locals.old ? old.stock : null %>"/>
                  </div>

                  <!-- Fecha de vencimiento -->
                  <label for="expire" class="text-danger"><%= locals.errors && locals.errors.expire ? errors.expire.msg : null %></label>
                  <div class="row my-0 f-cross-center my-4">
                    
                    <div class="mb-6">
                        <label for="expire" class="reg__date__age" >Fecha de vencimiento</label>
                    </div>
                    <div class="mb-6">
                        <div class="reg__ctrl-input">
                            <input type="date" class="reg__input" name="expire" id="inp-date" value="<%= (locals && locals.errors) ? old.expire : null %>">
                        </div>
                    </div>
                  </div>

                  <!-- Imagenes -->
                  <% if (locals.errors && errors.images) { %>
                     <div class="text-danger">
                        <%= errors.images.msg %>
                     </div>
                     <% } %>
                  <div class="reg__ctrl-input mbt-4">
                           <input type="file" accept=".jpg, .jpeg, .png" name="images" max="5" maxfile="5"
                              class="reg__input file__input" multiple />
                  </div>

                  <div class="f-display f-main-between reg__navbottom f-cross-end mbt-5">
                     <a href="/store" class="no-decor">
                        <div class="button button-rojo reg__navbutton">
                           <i class="fas fa-times"></i>
                        </div>
                     </a>
                     <button type="submit" class="button button-verde reg__navbutton"><i
                           class="fas fa-check"></i></button>
                  </div>
               </form>
            </div>
         </div>
   </body>

</html>