<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body class="profile">
    <%- include('partials/carrito.ejs') %>
    <header class="header">
        <%- include('partials/navbar-top.ejs') %>
    </header>
    <!-- Barra de navegación inferior -->
    <%- include('partials/navbar-bottom.ejs') %>

    <main class="container maxw-1280 mbt-5" data-userid=<%= userId %>>
        <div class="mb-12 profile__opt f-main-y">
            <div class="profile__image">
                <div class="profile__avatar">
                    <img src="/images/users/default.png" alt="avatar-user">
                </div>
                <h2 class="profile__name">CLIENTE GENIAL</h2>
                <h4 class="profile__level">Nivel 3</h4>
            </div>

            <nav class="card mbt-5">
                <ul class="profile__nav">
                    <div class="profile__nav-row">
                        <li class='bx bx-user active' data-opt="profile"></li>
                        <li class='bx bxs-key' data-opt="password"></li>
                        <li class='bx bx-envelope' data-opt="contact"></li>
                    </div>
                    <div class="profile__nav-row">
                        <li class='bx bx-map' data-opt="address"></li>
                        <li class='bx bx-credit-card' data-opt="card" disabled></li>
                        <li class='bx bx-shopping-bag' data-opt="history" disabled></li>
                    </div>
                </ul>
            </nav>
        </div>

        <div class="mb-12 f-main-y profile__set-opt">
            <!-- Insertar aquí las opciones del profile -->
        </div>
    </main>

    <!------------------------- Inicio de Templates ------------------------->
    <!-- set Profile -->
    <template id="setProfile">
        <h3 class="profile__set-title-opt">Cambiar datos de perfil</h3>
        <div class="card">
            <form>
                <div class="controlador-input">
                    <label for="name" data-required>Nombre</label>
                    <input type="text" name="name" id="name" class="reg__input" placeholder="Ingrese su nombre">
                </div>

                <div class="controlador-input">
                    <label for="lastname" data-required>Apellido</label>
                    <input type="text" name="lastname" id="lastname" class="reg__input" placeholder="Ingrese su apellido">
                </div>

                <div class="controlador-input">
                    <label for="date" data-required>Fecha de nacimiento</label>
                    <input type="date" name="date" id="date" class="reg__input" placeholder="Ingrese su fecha de nacimiento">
                </div>
                <button class="contacto__button"> GUARDAR CAMBIOS </button>
            </form>
        </div>
        <div class="profile__delete-profile">
            <span>Quisiera eliminar mi cuenta</span>
        </div>
    </template>

    <!-- set Password -->
    <template id="setPassword">
        <h3 class="profile__set-title-opt">Cambiar la contraseña</h3>
        <div class="card">
            <form>
                <div class="controlador-input">
                    <label for="old-password" data-required>Contraseña anterior</label>
                    <input type="password" name="oldPassword" id="old-password" class="reg__input" placeholder="********">
                </div>

                <div class="controlador-input">
                    <label for="password" data-required>Nueva contraseña</label>
                    <input type="password" name="password" id="password" class="reg__input" placeholder="********">
                </div>

                <div class="controlador-input">
                    <label for="rpassword" data-required>Repetir contraseña</label>
                    <input type="password" name="rpassword" id="rpassword" class="reg__input" placeholder="********">
                </div>

                <button class="contacto__button"> GUARDAR CAMBIOS </button>
            </form>
        </div>
    </template>

    <!-- set Contact -->
    <template id="setContact">
        <h3 class="profile__set-title-opt">Cambiar datos de contacto</h3>
        <div class="card">
            <form>
                <div class="controlador-input">
                    <label for="phone" data-required>Número de teléfono Ej: 11 123 45678</label>
                    <input type="tel" name="phone" id="phone" class="reg__input" placeholder="11 123 45678">
                </div>

                <div class="controlador-input">
                    <label for="email" data-required>Correo electrónico</label>
                    <input type="email" name="email" id="email" class="reg__input" placeholder="nombre@correo.com">
                </div>
                <button class="contacto__button"> GUARDAR CAMBIOS </button>
            </form>
        </div>
    </template>

    <!-- set Address -->
    <template id="setAddress">
        <h3 class="profile__set-title-opt">Cambiar datos de domicilio</h3>
        <div class="card">
            <form>
                <div class="controlador-input">
                    <label for="country" data-required>Elige un país</label>
                    <select name="country" class="reg__input" id="country" data-geo="country">
                        <option value="Argentina">Argentina</option>
                    </select>
                </div>

                <div class="controlador-input">
                    <label for="province" data-required>Elige una provincia</label>
                    <select name="province" class="reg__input" id="province" data-geo="province" data-wait="country">
                        <option value="">---</option>
                    </select>
                </div>

                <div class="controlador-input">
                    <label for="city" data-required>Elige una ciudad</label>
                    <select name="city" class="reg__input" id="city" data-geo="city" data-wait="province">
                        <option value="">---</option>
                    </select>
                </div>
                <button class="contacto__button"> GUARDAR CAMBIOS </button>
            </form>
        </div>
    </template>

    <%- include('partials/footer.ejs') %>
    <script src="/js/generals.js" type="module"></script>
    <script src="/js/profile.js" type="module"></script>
</body>

</html>