<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <%- include('./partials/navbar-bottom') %>
            <!-- Botones de categorias -->
            <aside class="categories sep-inf">
                <div class="categories__items">
                    <div class="categories__item">
                        <a href="#" class="button button-cat">
                            <img src="/images/icon-hidro.svg" alt="hidromiel" />
                        </a>
                        <span class="categories__legend">HIDROMIEL</span>
                    </div>

                    <div class="categories__item">
                        <a href="#" class="button button-cat">
                            <img src="/images/icon-beer.svg" alt="cerveza" />
                        </a>
                        <span class="categories__legend">CERVEZA</span>
                    </div>

                    <div class="categories__item">
                        <a href="#" class="button button-cat">
                            <img src="/images/icon-merch.svg" alt="merchandasing" />
                        </a>
                        <span class="categories__legend">MERCHANDASING</span>
                    </div>
                </div>

                <div class="filter">
                    <li>IPA X</li>
                </div>
            </aside>
            <!-- Filtro y Busqueda de Productos -->
            <div class="container filtro_busqueda">
                <div class="lp-6 filter__form">
                    <input type="text" name="filter" placeholder="&#xf000 Palabra clave... " class="filter__input" />
                </div>
                <div class="lp-6 filter__orden">
                    <form action="">
                        <label for=""><strong>Ordenar por:</strong></label>
                        <select name="filtro" id="">
                            <option value="" selected>Más relevante</option>
                            <option value="">Menos precio</option>
                            <option value="">Mayor precio</option>
                        </select>
                    </form>
                </div>
            </div>
        <main class="container productos_tienda">
            <!-- Vista producto -->
            <% productos_db.forEach(producto => { %>
                <article class="mb-12 tb-6 lp-4 container producto">
                    <div class="button--stock"> 
                       <i class="fas fa-check boton_check"></i>
                    </div>
                    <!-- Boton verde de stock -->
                    <div class="concon">
                       <div class="mb-5">
                          <img src="/images/products/Bebidas/Cervezas/<%= producto.image %> " alt="ipa brown" />
                       </div>
           
                       <div class="mb-7 f-main-y">
                          <div>
                             <h4 class="producto__title"><%= producto.name %></h4>
                             <p class="producto__description"><%= producto.description %>
                             </p>
                          </div>
           
                          <div class="producto__buttons">
                             <div class="f-display">
                                <a href="/store/products/<%= producto.id %> ">
                                   <div class="button producto__vermas mr-1">
                                      <i class="fas fa-external-link-alt"></i>
                                   </div>
                                </a>
                             </div>
           
                             <div class="controlador-buton-precio">
                                <div class="precio_store">
                                    <%= producto.price %>
                                </div>
                                <div class="button buton_redondo_suma">
                                   <i class="fas fa-plus"></i>
                                </div>
                             </div>
                          </div>
                       </div>
           
                                   
                    </div>
                    
           
                 </article>
            <% }) %>

        </main>
            <%- include('./partials/footer') %>
    </body>

</html>